header.header
  .headJS
    .flex-container.topInfo
      #wpm-logo.b-logo
        // Блок логотип
      #wpm-currency.b-currency
        // Блок курсы валют
      #wpm-weather.b-weather
        // Блок Погода
      #wpm-regionframe.b-regionframe
        // Блок Переключатель регионов
      #wpm-radioframe.b-radioframe
        // Блок Переключатель регионов
  #wpm-search.b-search
    // Блок Поиск
.menuHead
  #wpm-menubutton.menubutton-container
  #wpm-main-menu
section#wpm-news24.b-news24
  
//-  Содержимое центрального блока
.main-page
  .home-pagebloks
