.broadcast__head
  .broadcast__title Онлайн-трансляция
  .broadcast__name= broadcast.title
  .broadcast__presenter Ведущий трансляции: 
    span.broadcast__presenter-name 
      a.broadcast__presenter-link(href=broadcast.presenter.link) #{broadcast.presenter.name}
  a(name="16:20")
.broadcast-posts
    include broadcast-item.jade
