*{
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  outline: 0;
  box-shadow: none;
}

html, body{
  height: 100%;
  width: 100%;
  background: #F8F8F8;
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.header{
  height: 80px;
  width: 200px;
}

.topInfo{
  height: 79px;
  border-bottom: 1px solid #d6d6d6;
  position: fixed;
  padding: 0 0 0 3px;
  width: 100%;
  background: #fff;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 120;
  left: 0;
  top: 0;
  display: flex;
}

a {
  color: #0083CF;
  text-decoration: none;
}

.b-news24{
  width: 260px;
  position: fixed;
  height: 100%;
  left: 0;
  top: 140px;
  z-index: 90;
  background: #fff;
}

.main-page{
  margin-top: 60px;
  margin-left: 262px;
  width: calc(100% - 320px);
  display: block;
  background: white;
}


.article-page{
  max-width: 870px;
  min-width: 870px;
}

.test-page{
  min-width: 870px;
}
