.menubutton-container{
  width: 60px;
  height: 60px;
  float: left;
  position: relative;
  overflow: hidden;
  border: none;
  z-index: 45;
}

.menubutton-button {
  color: #40454c;
  width: 60px;
  height: 60px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  background-color: #0083cd;
  cursor: pointer;
  outline: 0;
  z-index: 45;

}

.menubutton-button span.lines,
.menubutton-button span.lines:after,
.menubutton-button span.lines:before
{
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 20px;
  background: #fff;
  position: absolute;
  display: block;
  content: '';
  left: 20px;
  top: 29px;
}

.menubutton-button span.lines:after{
  top: 8px;
  left: 0px;
}

.menubutton-button span.lines:before{
  top: -8px;
  left: 0px;
}
