div.all_search-inp
  form#cse-search-box(action="/search/index.html")
    input(type="hidden" name="cx" value="")
    input(type="hidden" name="cof" value="")
    input(type="hidden" name="ie" value="utf-8")
    input.inp_text(type="text" name="q" value="" placeholder="ПОИСК" style="background: url(&quot;https://www.google.com/cse/static/ru/google_custom_search_watermark.gif&quot;) left center no-repeat rgb(255, 255, 255);")
    input.inp_subm#bsearch
    input(name="siteurl" type="hidden" value="www.kp.ru/")
    input(name="ref" type="hidden" value="")
    input(name="ss" type="hidden" value="")
