.menu{
  position: relative;
  z-index: 40;
}
.menuHead{
  height: 60px;
  background: #fff;
  border-bottom: 1px solid rgb(214,214,214);
  position: fixed;
  top: 80px;
  z-index: 140;
  width: 100%;
  transition: 0.2s;
}
ul.sectionNav{
  margin: 0px;
  border-bottom: none;
  left: 60px;
  height: 60px;
  padding: 0;
  overflow: hidden;
  max-width: 1270px;
  line-height: 60px;
  position: absolute;
}

.sectionNav-item{
  display: inline-block;
  font-family: "TT Prosto Sans";
  font-size: 12px;
  color: #000;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-left: 20px;
  margin-right: 3px;
  vertical-align: top;
  text-transform: uppercase;
}

.sectionNav-link {
  color: inherit;
  line-height: 62px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}

.sectionNav-link:hover {
  color: #565d66;
  text-decoration: underline;
}
