.notification(style="background-image: url(#{cover})")
  .notification__shadow
  .notification__close
  a.notification__body(href=link) 
    .notification__title= title
    .notification__message= message
