.notification-box{
  width: 320px;
  position: fixed;
  right: 50px;
  bottom: 0;
  height: auto;
}

.notification {
  transform-style: preserve-3d;
  transform-origin: bottom;
  transform: perspective(500px) translateY(100px) rotateX(90deg);
  background-position: center center;
  background-size: cover;
  transition: 0.5s;
  display: block;
  position: relative;
  opacity: 0;
  box-shadow: 0 0 20px 0 rgba(0,0,0,1);
  margin-bottom: 20px;
  max-height: 0;
  overflow: hidden;
}

.notification-active{
  opacity: 1;

  transform: translateY(0px) rotateX(0deg);
  max-height: 500px;
  padding: 10px 20px;
}

.notification__shadow{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: rgb(0,0,0);
  opacity: 0.4;
}

.notification__close{
  height: 18px;
  width: 18px;
  position: absolute;
  display: block;
  right: 20px;
  top: 13px;
  background: url('/img/icons/close_wight.svg') center center;
  z-index: 3;
  cursor: pointer;
}

.notification__body{
  position: relative;
  display: block;
  width: 100%;
  min-height: 120px;
  z-index: 2;
  color: #fff;
}

.notification__title{
  font-size: 15px;
  color: #fff;
  font-family: "TT Prosto Sans";
  line-height: 20px;
  width: 250px;
  font-weight: bold;
  padding-bottom: 20px;
}

.notification__message{
  margin-top: 20px;
  color: #D6D7D9;
  font-size: 15px;
  font-family: "Open Sans";
  position: absolute;
  bottom: 0;
}
