.article-photo{
  display: block;
  position: relative;
  width: 100%;
}
.article-photo__image{
  width: 100%;
  vertical-align: top;
  display: block;
  position: relative;
}

.article-photo__title{
  color: #FFFFFF;
  font-size: 11px;
  line-height: 13px;
  position: absolute;
  margin: 0 20px;
  display: block;
  bottom: 15px;
  z-index: 30;
  width: 280px;
  text-align: left;
  right: 0;
}
